<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:object="${task}">

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Project</label>
                                                    <select th:field="*{project}" name="role" class="custom-select">
                                                        <option value="" disabled selected>Select a Project</option>
                                                        <!--<option th:value="''" th:text="Select"></option>-->
                                                        <option th:each="eachProject : ${projects}" th:value="${eachProject.projectCode}" th:text="${eachProject.projectName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Assigned Employee</label>
                                                    <select th:field="*{assignedEmployee}" name="role" class="custom-select">
                                                        <option value="" disabled selected>Select a Employee</option>
                                                        <!--<option th:value="''" th:text="Select"></option>-->
                                                        <option th:each="eachEmployee : ${employees}" th:value="${eachEmployee.userName}" th:text="${eachEmployee.firstName + ' ' + eachEmployee.lastName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="tasksubject" class="col-form-label">Task Subject</label>
                                                    <input id="tasksubject" th:field="*{taskSubject}" type="text" class="form-control"
                                                           placeholder="task subject">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taskdetail">Task Detail</label>
                                                    <textarea id="taskdetail" th:field="*{taskDetail}" class="form-control"
                                                              placeholder="task detail"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Project</th>
                                                <th scope="col">Task Subject</th>
                                                <th scope="col">Assigned Employee</th>
                                                <th scope="col">Assigned Date</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="actions">
                                                    <a href="#" class="btn btn-warning rounded-0">Update</a>
                                                    <a href="#" class="btn btn-danger rounded-0">Delete</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>