<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="js">

  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->
<!--  <script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <!-- bootstrap bundle js -->
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
  <!-- slimscroll js -->
  <script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
  <!-- main js -->
  <script th:src="@{/assets/libs/js/main-js.js}"></script>
  <!-- chart chartist js -->
  <script th:src="@{/assets/vendor/charts/chartist-bundle/chartist.min.js}"></script>
  <!-- sparkline js -->
  <script th:src="@{/assets/vendor/charts/sparkline/jquery.sparkline.js}"></script>
  <!-- morris js -->
  <script th:src="@{/assets/vendor/charts/morris-bundle/raphael.min.js}"></script>
  <script th:src="@{/assets/vendor/charts/morris-bundle/morris.js}"></script>
  <!-- chart c3 js -->
  <script th:src="@{/assets/vendor/charts/c3charts/c3.min.js}"></script>
  <script th:src="@{/assets/vendor/charts/c3charts/d3-5.4.0.min.js}"></script>
  <script th:src="@{/assets/vendor/charts/c3charts/C3chartjs.js}"></script>
  <script th:src="@{/assets/libs/js/dashboard-ecommerce.js}"></script>
  <script th:src="@{/assets/vendor/datepicker/tempusdominus-bootstrap-4.js}"></script>
  <script th:src="@{/assets/vendor/datepicker/moment.js}"></script>
  <script th:src="@{/assets/vendor/datepicker/datepicker.js}"></script>

  <script>
    $(document).ready(function() {
      $('#sortableTable').DataTable();
    });
  </script>

  <script>
    function updateProductCheckboxes() {
      const vendorId = document.getElementById("vendor").value;
      const productContainers = document.getElementsByClassName("productContainer");

      for (const productContainer of productContainers) {
        if (productContainer.getAttribute("data-vendor-id") === vendorId) {
          productContainer.style.display = "block";
        } else {
          productContainer.style.display = "none";
        }
      }
    }
  </script>

  <script>
    let addedProducts = [];
    let orderItemIndex = 0;

    function addProductToOrder() {
      const productsCheckboxes = document.querySelectorAll('input[name="products"]:checked');
      const addedProductsTableBody = document.querySelector('#addedProductsTable tbody');

      productsCheckboxes.forEach((checkbox) => {
        const productId = checkbox.value;
        const productName = checkbox.nextElementSibling.textContent;

        if (!addedProducts.includes(productId)) {
          addedProducts.push(productId);

          const newRow = addedProductsTableBody.insertRow();

          newRow.innerHTML = `
                  <tr>
                  <td>${productName}<input type="hidden" name="orderItems[${orderItemIndex}].product.id" value="${productId}"></td>
                  <td><input type="number" name="orderItems[${orderItemIndex}].quantity" min="1" value="1" class="form-control" required></td>
                  <td><input type="number" name="orderItems[${orderItemIndex}].unitPrice" min="0" step="0.01" value="0.00" class="form-control" required></td>
                  <td><button type="button" class="btn btn-danger" onclick="removeProductFromOrder('${productId}', this)">Remove</button></td>
                   </tr>
              `;
          orderItemIndex++;
        }
      });
    }

    function removeProductFromOrder(productId, removeButton) {
      addedProducts = addedProducts.filter((id) => id !== productId);
      const rowToRemove = removeButton.parentElement.parentElement;
      rowToRemove.remove();
      // Recalculate the orderItemIndex and update the input names
      orderItemIndex--;
      const rows = document.querySelector('#addedProductsTable tbody').rows;
      for (let i = 0; i < rows.length; i++) {
        rows[i].querySelector('[name^="orderItems["]').name = `orderItems[${i}].product.id`;
        rows[i].querySelector('[name^="orderItems["]').name = `orderItems[${i}].quantity`;
        rows[i].querySelector('[name^="orderItems["]').name = `orderItems[${i}].unitPrice`;
      }
    }
  </script>

</div>

</body>

</html>