<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head}"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="~{/fragments/header :: header}"></div>

    <div th:replace="~{/fragments/left-sidebar :: left-sidebar}"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/administration/tax/create}" method="post" th:object="${tax}">

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taxName">Tax Name</label>
                                                    <textarea id="taxName" class="form-control"
                                                              placeholder="Tax Name"
                                                              th:field="*{name}"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Assigned Product</label>
                                                    <select name="project" class="custom-select" th:field="*{product}">
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="eachProduct : ${products}"
                                                                th:value="${eachProduct.getId()}"
                                                                th:text="${eachProduct.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="assignedZipcode" class="col-form-label">Assigned ZipCode</label>
                                                    <input id="assignedZipcode" type="text" class="form-control"
                                                           placeholder="tax zipCode" th:field="*{zipCode}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="taxUnitPrice" class="col-form-label">Unit Price</label>
                                                    <input id="taxUnitPrice" type="text" class="form-control"
                                                           placeholder="unit price" th:field="*{taxPrice}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Tax List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Tax Name</th>
                                                <th scope="col">Assigned Product</th>
                                                <th scope="col">Assigned ZipCode</th>
                                                <th scope="col">Unit Price</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="eachTax : ${taxes}">
                                                <td th:text="${eachTax.name}"></td>
                                                <td th:text="${eachTax.product.name}"></td>
                                                <td th:text="${eachTax.zipCode}"></td>
                                                <td th:text="${eachTax.taxPrice}"></td>
                                                <td>
                                                    <a th:href="@{/administration/tax/update/{id}(id=${eachTax.getId()})}"
                                                       class="btn btn-warning rounded-0">Update</a>
                                                    <a th:href="@{/administration/tax/delete/{id}(id=${eachTax.getId()})}"
                                                       class="btn btn-danger rounded-0">Delete</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="~{/fragments/footer :: footer}"></div>

</div>

<div th:replace="~{/fragments/javascript :: js}"></div>

</body>

</html>